html {
  color: var(--primary);
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
}

footer, header {
  position: fixed;
  width: 100%;
  min-height: 5rem;
  line-height: 5rem;
  background-color: var(--primary);
  color: var(--secondary);
  z-index: 99999;
}

header {
  top: 0;
  left: 0;
  font-size: 1.8rem;
  text-align: center;
  box-shadow: 0 0.1rem 0.2rem 0 #000;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.4rem;
  text-align: center;
  box-shadow: 0 -0.1rem 0.2rem 0 #000;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
}
main section {
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(even) {
  background-color: var(--secondary);
  color: var(--primary);
}
section:nth-child(odd) {
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  font-size: 2.8rem;
  margin: 0;
}
h3 {
  font-size: 2.3rem;
  margin: 0;
}
.divider, .divider {
  width: 80rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.divider_light {
  border: 0.05rem solid var(--secondary);
  box-shadow: 0 0 0.2rem 0 #fff;
}
.divider_dark {
  border: 0.05rem solid var(--primary);
  box-shadow: 0 0 0.2rem 0 #000;
}
p {
  font-size: 1.6rem;
  min-width: 60rem;
  max-width: 90rem;
  line-height: 1.8rem;
  letter-spacing: 0.2rem;
}
p::first-letter {
  font-size: 2.4rem;
}

.text_vitality, .vita {
  color: var(--vitality);
}
.text_strong, .force {
  color: var(--strong);
}
.text_sagess, .sagesse {
  color: var(--sagess);
}
.text_intelligence, .intel {
  color: var(--intelligence);
}
.text_lucky, .chance {
  color: var(--lucky);
}
.text_agility, .agilite {
  color: var(--agility);
}

/**
 * -----------------------------------------------------------------------------
 * PRESENTATION
 * -----------------------------------------------------------------------------
 */
.presentation {
  display: flex;
  flex-flow: column wrap;
}

/**
 * -----------------------------------------------------------------------------
 * CHOIX DU COMBATANT
 * CHOIX DE L'ARMURE DU COMBATANT
 * CHOIX DE L'ARME DU COMBATANT
 * -----------------------------------------------------------------------------
 */
.choose_guerrier,
.choose_armor,
.choose_weapon {
  display: flex;
  flex-flow: column wrap;
  color: var(--secondary);
}
.fighter_container,
.armor_container,
.weapon_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.fighter,
.armor,
.weapon {
  min-width: 20rem;
  min-height: 20rem;
  border: 1px solid var(--secondary);
  margin: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  filter: grayscale(100%);
}
.fighter,
.armor,
.weapon {
  min-width: 20rem;
  min-height: 20rem;
  border: 1px solid var(--secondary);
  margin: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  filter: grayscale(100%);
}
.fighter,
.weapon {
  border: 1px solid var(--primary);
}
.armor:hover {
  box-shadow: 0 0 1rem var(--secondary);
  filter: grayscale(0%);
}
.fighter_sadida,
.fighter_xelor,
.fighter_enutrof,
.fighter_eniripsa,
.fighter_cra,
.fighter_feca,
.armor_one,
.armor_two,
.armor_three,
.armor_four,
.armor_five,
.armor_six,
.weapon_one,
.weapon_two,
.weapon_three,
.weapon_four,
.weapon_five,
.weapon_six {
  background-position: center;
  background-size: cover;
  min-width: 20rem;
  min-height: 20rem;
}

.fighter_sadida {background-image: url('../assets/images/players/sadida.png');}
.fighter_xelor {background-image: url('../assets/images/players/xelor.png');}
.fighter_enutrof {background: url('../assets/images/players/enutrof.webp');}
.fighter_eniripsa {background-image: url('../assets/images/players/eniripsa.png');}
.fighter_cra {background-image: url('../assets/images/players/cra.png');}
.fighter_feca {background-image: url('../assets/images/players/feca.png');}

.armor_one { background-image: url('../assets/images/armors/armor1.png'); }
.armor_two { background-image: url('../assets/images/armors/armor2.png'); }
.armor_three { background-image: url('../assets/images/armors/armor3.png'); }
.armor_four { background-image: url('../assets/images/armors/armor4.png'); }
.armor_five { background-image: url('../assets/images/armors/armor5.png'); }
.armor_six { background-image: url('../assets/images/armors/armor6.png'); }

.weapon_one { background-image: url('../assets/images/weapons/arme1.png'); }
.weapon_two { background-image: url('../assets/images/weapons/arme2.png'); }
.weapon_three { background-image: url('../assets/images/weapons/arme3.png'); }
.weapon_four { background-image: url('../assets/images/weapons/arme4.png'); }
.weapon_five { background-image: url('../assets/images/weapons/arme5.png'); }
.weapon_six { background-image: url('../assets/images/weapons/arme6.png'); }
.weapon_seven { background-image: url('../assets/images/weapons/arme7.png'); }
.weapon_eight { background-image: url('../assets/images/weapons/arme8.png'); }
.weapon_nine { background-image: url('../assets/images/weapons/arme9.png'); }
.weapon_ten { background-image: url('../assets/images/weapons/arme10.png'); }

.fighter_describe,
.armor_describe,
.weapon_describe {
  min-height: 4rem;
  padding: 0 5rem 0 5rem;
  font-size: 1.6rem;
}
.fighter_describe table,
.armor_describe table,
.weapon_describe table {
  border: 1px solid var(--primary);
  padding: 2rem;
  text-align: center;
  border-collapse: collapse;
}
.fighter_describe table caption,
.armor_describe table caption,
.weapon_describe table caption {
  padding: 2rem 0 0.5rem 0;
}
.fighter_describe th,
.armor_describe th,
.weapon_describe th {
  background-color: var(--primary);
}
.fighter_describe th, .fighter_describe td,
.weapon_describe th, .weapon_describe td {
  border: 1px solid var(--primary);
  padding: 1rem;
}
.armor_describe th, .armor_describe td {
  border: 1px solid var(--secondary);
  padding: 1rem;
}

/**
 * -----------------------------------------------------------------------------
 * COMBAT PARTIE JOUEUR
 * -----------------------------------------------------------------------------
 */
.figth {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.absolute_position {
  position: absolute;
  top: 2.5rem;
  margin: 0 auto;
  text-align: center;
}
.absolute_position h1 {
  display: flex;
  justify-content: space-evenly;
}

.fighting_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.fighting_player,
.fighting_mob {
  width: 50vw;
  height: calc(100vh - 5rem);
}

.fighting_player {
  display: flex;
  background-color: var(--primary);
  border-right: 1px solid var(--secondary);
}
.fighting_player .fighter {
  align-self: flex-start;
  margin: 15rem;
}
.fighting_player h3 {
  align-self: flex-start;
  margin-top: 15rem;
}
.fighting_player ul {
  align-self: flex-start;
  font-size: 1.6rem;
  list-style: none;
  margin-top: 20rem;
  margin-left: -30rem;
}

/**
 * -----------------------------------------------------------------------------
 * COMBAT PARTIE ENNEMIE
 * -----------------------------------------------------------------------------
 */
.fighting_mob {
  background-image: url('../assets/images/background/bg_mob.jpg');
  background-size: cover;
  background-position: center;
  border-left: 1px solid var(--secondary);
}
  

/* RESULTAT DU COMBAT */
