:root {
  --primary: #333;
  --secondary: #eee;

  --vitality: lightgoldenrodyellow;
  --strong: chocolate;
  --sagess: slateblue;
  --intelligence: crimson;
  --lucky: lightskyblue;
  --agility: lightgreen;
}